.offcanvas {
  visibility: visible !important;
  transform: translateX(0) !important;
}
.my-border {
  border: 2px solid black;
}
.btn-circle {
  border-radius: 50% !important;
}
.mybutton {
  background: red;
  border: 5px solid black;
  border-right: none;
  border-top: none;
  height: 100px;
  width: 100px;
  scale: 0.8;
}
.mybutton_green {
  background: green;
  border: 5px solid black;
  border-right: none;
  border-top: none;
  height: 100px;
  width: 100px;
}
.mybutton_green:hover {
  background: green;
  height: 100px;
  width: 100px;
}
.mybutton:hover {
  background: red;
  height: 100px;
  width: 100px;
}
.mybutton:active {
  background: red;
  height: 100px;
  width: 100px;
}
.mybutton::selection {
  background: red;
  border-left: 0px solid black;
  border-bottom: 0px solid black;
  height: 100px;
  width: 100px;
}
